
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.status-order {
    width: 100%;
    min-height: 35px;
    background: #eddea5;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: #02a264;
    margin-bottom: 15px;
}

.order-accordion {
    width: 100%;
    min-height: 150px;
    transition: 1s all;
}

.order-accordion .title {
    height: 50px;
    background: #a9a9a9;
    border-radius: 5px;
    padding: 13px;
    font-weight: bold;
    color: #424644;
    margin-bottom: 15px;
    font-size: 15px;
    cursor: pointer;
}

.order-accordion .title .pull-left {
    font-size: 26px;
    line-height: 1;
}

.order-accordion .content {
    font-size: 14px;
    padding: 5px 20px;
    line-height: 24px;
    display: none;
}

.order-accordion .title:hover {
    background: #352e5a;
    color: #fff;
}

