
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.status-order {
    width: 100%;
    height: 30px;
    background: #eddea5;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: #02a264;
    margin-bottom: 15px;
}

.order-accordion {
    width: 100%;
    min-height: 35px;
    transition: 1s all;
}

.order-accordion .title {
    height: 50px;
    background: #a9a9a9;
    border-radius: 5px;
    padding: 13px;
    font-weight: bold;
    color: #424644;
    margin-bottom: 15px;
    font-size: 15px;
    cursor: pointer;
}

.order-accordion .title .pull-left {
    font-size: 26px;
    line-height: 1;
}

.order-accordion .content {
    font-size: 14px;
    padding: 5px 20px;
    line-height: 24px;
    display: none;
    margin-bottom: 50px;
}

.order-accordion .title:hover {
    background: #352e5a;
    color: #fff;
}

.unread_ticket {
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    background: #ff0000;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 25px;
    font-family: trebuchet MS;
}

/* Ticket System */
.log span { color:#d72626 !important; display:inline !important; }
label { width: 100px;}
.buttonText { font-size:11px; }
label[for=ticket_attachment] { width:130px; }
.media-body p { padding:0px; }
.clearfix {
    clear:both;
}
.media-object {
    display: block;
}
.media-object.img-thumbnail {
    max-width: none;
}
.media-right,
.media > .pull-right {
    padding-left: 10px;
}
.media-left,
.media > .pull-left {
    padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media-middle {
    vertical-align: middle;
}
.media-bottom {
    vertical-align: bottom;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.media-list {
    padding-left: 0;
    list-style: none;
}

/* Admin Notice */
.admin_notice {
    padding: 25px;
    border-radius: 10px;
    color: #fff;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 17px;
}

.suc {
    background: #00a263;
}
.err {
    background: #c30008;
}
